/* Boiler plate Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /* background-color: #111; */
  /* color: #fff; */
  font-family: Roboto;
overflow-x: hidden;
}

/* @font-face {
  font-family: china;
  src: url(media/font/china.ttf);
} */

* {
  font-family: "Space Grotesk", sans-serif;
}
/* Boiler plate End */

section {
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 3vw 0vw 3vw;
}

.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2.778vw;
}
nav h1 {
  font-size: 2vw;
  font-weight: 400;
}

nav h1 i {
  rotate: 45deg;
  display: inline-block;
}
nav h4 {
  font-size: 1.389vw;
  font-weight: 400;
}

nav button {
  padding: 0.7vw 2vw;
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 0.35vw;
  font-size: 1.389vw;
  font-weight: 400;
  cursor: pointer;
  border: 0.069vw solid #000000;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0vw 6.944vw;
  padding-top: 4.861vw; */
  padding: 4.861vw 3vw 0vw 3vw;
}

.center-part1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 41%;
  gap: 2.431vw;
}
.center-part2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 59%;
}

.center-part1 h1 {
  font-family: "Space Grotesk";
  font-size: 4.167vw;
  font-weight: 400;
}

.center-part1 p {
  font-size: 1.389vw;
  font-weight: 400;
}

.center-part1 button {
  font-size: 1.389vw;
  font-family: "Space Grotesk";
  display: flex;
  padding: 1.389vw 2.431vw;
  border-radius: 0.972vw;
  background-color: #191a23;
  color: #ffffff;
}

.center-part2 img {
  width: 41.699vw;
  height: 35.764vw;
}

.section1bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.861vw 3vw 3vw 3vw;
}

.section1bottom img {
  height: 3.333vw;
  object-fit: contain;
  /* mix-blend-mode: luminosity; */
  filter: grayscale(1);
}

.section2 .services {
  background-color: #fff;
  padding: 3vw 3vw 5.556vw 3vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.778vw;
}

.services h1 {
  font-size: 2.778vw;
  font-weight: 500;
  background-color: #b9ff66;
  padding: 0vw 0.486vw;
  border-radius: 0.486vw;
}
.services p {
  width: 40.278vw;
  font-size: 1.25vw;
  font-weight: 400;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.778vw;
  padding: 0vw 3vw 3vw 3vw;
}

.elem {
  background-color: #f3f3f3;
  flex-shrink: 0;
  /* width: 41.667vw; */
  width: 48%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 3.472vw;
  border-radius: 3.125vw;
  border: 1px solid #191a23;
  box-shadow: 0px 5px 0px 0px #191a23;
  height: 21.528vw;
}

.elem-part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

.elem-part2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.elem-part1 h2 {
  width: 95%;
  font-size: 2.083vw;
  font-weight: 600;
  background-color: #b9ff66;
  padding: 0.486vw;
  border-radius: 0.486vw;
}

.elem-part1 h4 i {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 0.347vw;
  color: #b9ff66;
  background-color: #191a23;
  border-radius: 2.847vw;
}

.elem-part2 img {
  width: 14.583vw;
  object-fit: contain;
}

.elem-part1 h4 {
  font-size: 1.389vw;
  display: flex;
  gap: 1.042vw;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: #191a23;
}

.black .elem-part1 h2 {
  background-color: #ffffff;
}
.black .elem-part1 h4 {
  color: #ffffff;
}

.black .elem-part1 h4 i {
  color: #000000;
  background-color: #ffffff;
}



.lastsection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #191a23;
}